@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #363a40;
    padding: 10px 17%;
}

/* Navbar */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5%;
}
.navimg{
    width: 100px;
    height: 100px;
}
.navbar li{
    display: inline-block;
    margin: 10px;
}
.navbar a{
    text-decoration: none;
    transition: all 0.3s ease;
    color: whitesmoke;
}
.navbar a:hover{
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgba(206, 139, 139, 0.815);
}
.strmbtn{
    text-decoration: none;
    transition: all 0.3s ease;
    color: black;
    padding: 10px 30px;
    background-color: aquamarine;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
}
.strmbtn:hover{
    background-color: rgba(127, 255, 212, 0.432);
}

/* Section */
.main-section{
    display: flex;
    margin: 20px 5%;
}
.main-section h1, p{
    color: whitesmoke;
}
.order-button{
    text-decoration: none;
    color: whitesmoke;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    transition: all 0.3s ease;
}
.order-button:hover{
    padding: 10px 30px;
}
.main-section img{
    background-image: url(./assets/Circle\ design.svg);
}
.main-s-div{
    padding: 100px;
}
hr{
    margin-top: 24px;
}
/* Brand Logo section */
.brands-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 17px 37px;
    align-items: center;
    border: 0.5px solid whitesmoke;

}
/* product */
.all-product{
    margin-top: 80px;
}
.all-product-title{
    color: whitesmoke;
}
.products{
 display: grid;
 grid-template-columns: repeat(3,1fr);
}
.product{
    margin-right: 8px;
    border-radius: 7px;
    padding: 7px 10px;
    margin-top: 50px;
    width: 329px;
    height: 476px;
    background-color: rgba(245, 245, 245, 0.178);
}
.product-dtl{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 25px;
    background-color: black;
}
footer>div{
   padding: 5%;
}