@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navimg{
    width: 10%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: darkgray;
}
.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block;
    margin-right: 15px;
}
.navbar li a{
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 17px;
}
.navbar li a:hover{
   color: lightskyblue;
}
.strmbtn{
    padding: 8px 20px;
    background-color: aqua;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.strmbtn:hover{
    background-color: rgba(0, 255, 255, 0.377);
    font-size: 18px;
}